.status-item{
  --background: rgba(0, 0, 0, 0);
  --color: white;
  --border-style: 0;
  font-size: 1.2em;
}

.status-background{
  background-color: rgb(213, 205, 205); 
}

.custom-input {
  --background : rgba(138, 138, 138, 0.068); 
}

.job-button{
  --box-shadow: 1px 1px 1px black;
  margin-right: 3%;
  margin-top: 0.8%;
}

.header-icon{
  font-size: 2em;
  margin-right: 1.5%;
  margin-left: 1.5%;
  cursor: pointer;
}